<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">
<generatorConfiguration>
    <properties resource="generator.properties"/>
    <context id="generateTables" targetRuntime="MyBatis3">
        <plugin type="org.mybatis.generator.plugins.ToStringPlugin"/>
        <!--<plugin type="org.mybatis.generator.plugins.CachePlugin"></plugin>-->
        <!--<plugin type="org.mybatis.generator.plugins.SerializablePlugin"/>-->
        <!-- 自定义物理分页  可生成支持Mysql数据的limit  不支持Oracle
        <plugin type="org.mybatis.generator.plugins.page.PaginationPlugin"/> -->
        <!-- 自定义查询指定字段
        <plugin type="org.mybatis.generator.plugins.field.FieldsPlugin"/> -->
        <!-- 开启支持内存分页   可生成 支持内存分布的方法及参数
        <plugin type="org.mybatis.generator.plugins.RowBoundsPlugin" /> -->
        <!-- generate entity时，生成hashcode和equals方法
        <plugin type="org.mybatis.generator.plugins.EqualsHashCodePlugin" /> -->
        <!-- my plugins -->
        <plugin type="org.tree.commons.generate.plugins.QuerySelectivePlugin"/>
        <plugin type="org.tree.commons.generate.plugins.QuerySelectiveByExamplePlugin"/>
        <plugin type="org.tree.commons.generate.plugins.InsertSelectiveWithGeneratedKeyPlugin"/>
        <plugin type="org.tree.commons.generate.plugins.ModelCommentPlugin"/>
        <plugin type="org.tree.commons.generate.plugins.MapperMapPlugin"/>
        <plugin type="org.tree.commons.generate.plugins.GenericDealPlugin"/>
        <plugin type="org.tree.commons.generate.plugins.ArgsPlugin"/>
        <plugin type="org.tree.commons.generate.plugins.BatchInsertPlugin"/>
        <!-- 不建议用
        <plugin type="org.tree.commons.generate.plugins.GenerateBaseMapperAndExamplePlugin"/> -->
        <commentGenerator>
            <property name="suppressAllComments" value="true"/>
        </commentGenerator>
        <jdbcConnection driverClass="${jdbc.driver}"
                        connectionURL="${jdbc.url}"
                        userId="${jdbc.username}"
                        password="${jdbc.password}"/>
        <javaTypeResolver>
            <property name="forceBigDecimals" value="false"/>
        </javaTypeResolver>
        <javaModelGenerator targetPackage="${model.package}" targetProject="${java.target}">
            <property name="trimStrings" value="true"/>
        </javaModelGenerator>
        <sqlMapGenerator targetPackage="${xml.dir}" targetProject="${xml.target}"/>
        <javaClientGenerator type="XMLMAPPER" targetPackage="${mapper.package}"
                             targetProject="${java.target}">
            <!--<property name="rootInterface" value="org.tree.faster.temp.BaseMapperaseMapper-->
        </javaClientGenerator>
        <table tableName="it won't be use"/>
    </context>
</generatorConfiguration>
